body{
    background: linear-gradient(45deg, #6B7AF5,#B02BE0);
    
}

.moon{
   position: absolute;
   top: 0;
   right: 0;
   left: 15px;
   bottom: 400px;
   margin: auto;
   width: 200px;
   height: 200px;
   background-color: transparent;
   border-radius: 50%;
   box-shadow: 25px 25px 0 0 #D4C9DA;
}

p{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    line-height: 45px;
    margin-bottom: 50px; 
}

.house{
    width: 400px;
    height: 400px;
    background: #239C84;
    margin: 500px auto 30px auto;
    
}

#roof{
    bottom: 350px;
    width: 400px;
    height: 100px;
    background: #603E4F;
    margin-bottom: 45px;
    
}

#circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #603E4F 20px, #239C84 30px);
    margin:auto 15px;
    transform: scale(1.5);
}

#circle2{
    width: 50px;
    height: 50px;
    bottom: 50px;
    margin:auto 15px;
    transform: scale(1.5);
    float: right;
    position: relative;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #603E4F 20px, #239C84 30px);
}

.door{
    width: 130px;
    height: 205px;
    margin: auto;
    position: relative;
    background: #603E4F;

}


